.form-checkbox {
  margin: 5%;
  align-self: center;
}

.navbar {
  background-color: blueviolet;
}

.form-control {
  background-color: #ffc3df;
  border: none;
}

.navbar-brand {
  color: white;
  font-weight: bolder;
}

.form-checkbox {
  border-radius: 50%;
  background: #f6b3e5;
  color: #f6b3e5;
}
