<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">Mogila App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <!--<div>-->
      <!--<input type="checkbox" class="form-checkbox" id="exampleCheck1" [formControl]="checkbox">-->
      <!--<label class="form-check-label" for="exampleCheck1">Done</label>-->
    <!--</div>-->
    <div>
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" [formControl]="search">
    </div>
  </div>
</nav>
