.wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 1%;
}

.tittle {
  padding: 5px;
  background: #f6b3e5;
  color: #20115b;
  font-size: 20px;
  font-weight: bold;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  word-wrap: break-spaces;
}

.content {
  padding: 5px;
  background: #20115b;
  color: #f6b3e5;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  word-wrap: break-spaces;
}


