<div [ngClass]="{ btnShown:visibility }" class="btnNewCard">
  <button class="btn btn-outline-primary" (click)="toggleMenu()">
    New Card
  </button>
</div>

<div [ngClass]="{ shown:visibility }" class="hidden card" id="toggleMenu">
  <form class="CustomForm" [formGroup]="cardForm">
    <div>
      <input [ngClass]="{ formCustomNotValid:isValid }" (change)="onChange()" class="formCustom" placeholder="Tittle" type="text" formControlName="tittle">
    </div>
    <div>
      <input class="formCustom" placeholder="Content" type="text" formControlName="content">
    </div>
  </form>
  <button class="btn btn-success" (click)="onSubmit()">Accept</button>
  <button id="roller" class="btn btn-danger" (click)="toggleMenu()">Cancel</button>
</div>










