.hidden {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 0;
  transition: all 0.7s ease-in-out;
  position:relative;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  overflow: hidden;
  background-color: blueviolet;
  width: 0;
}

.shown {
  height: 180px;
  width: 500px;
  opacity: 1;
  background-color: white;
  transform: rotateX(360deg);
}

.btnNewCard{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  transition: all 0.7s ease-in-out;
  opacity: 1;
  height: 40px;
}

.btnShown {
  height: 0;
  opacity: 0;
  margin-bottom: 0;
  transform: rotateX(-360deg);
}

.btn-success {
  margin: 5px;
  background: #2DE2E6;
  color: #FF3864;
  font-weight: bolder;
  border: none;
}

.btn-danger {
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
  background: #FF3864;
  color: #2DE2E6;
  font-weight: bolder;
  border: none;
}

.formCustom {
  border-radius: 5px;
  background-color: #ffc3df;
  opacity: 1;
  margin-top: 5px;
  width: 490px;
  height: 40px;
  padding-left: 5px;
  border: none;
  transition: all 0.5s ease-in-out;
}

.formCustomNotValid {
  box-shadow: 0 0 1em #FD1D53;
}

.formCustom:focus {
  border-bottom-color: blueviolet;
  box-shadow: 0 2px 2px blueviolet;
  outline: 0 none;
}

.btn-success:hover{
  background-color: #2ffbff;
  border-color: #2ffbff;
  box-shadow:  0 0 1em #2ffbff;
}

.btn-success:focus{
  background-color: #2ffbff;
  border-color: #2ffbff;
}

.btn-success:active{
  background-color: #2ffbff;
  border-color: #2ffbff;
  box-shadow: 0 1px 1px #2ffbff inset, 0 0 8px #2ffbff;
  outline: 0 none;
}

.btn-success:not(:disabled):not(.disabled):active{
  color: #FF3864;
  background: blueviolet;
  border-color: blueviolet;
}

.btn-success:not(:disabled):not(.disabled):focus{
  box-shadow:  0 0 1em #2ffbff;
}

.btn-danger:hover{
  background-color: #FD1D53;
  border-color: #FD1D53;
  box-shadow:  0 0 1em #FD1D53;
}

.btn-danger:focus{
  background-color: #FD1D53;
  border-color: #FD1D53;
}

.btn-danger:active{
  background-color: #FD1D53;
  border-color: #FD1D53;
  box-shadow: 0 1px 1px #FD1D53 inset, 0 0 8px #FD1D53;
  outline: 0 none;
}

.btn-danger:not(:disabled):not(.disabled):active{
  color: #FF3864;
  background: blueviolet;
  border-color: blueviolet;
}

.btn-danger:not(:disabled):not(.disabled):focus{
  box-shadow:  0 0 1em #FD1D53;
}

