<app-navbar (onSearch)="onSearch($event)"></app-navbar>

<app-card-form (onFormSubmit)="onFormSubmit($event)"></app-card-form>

<div class="row">

  <div class="col-6 test">
    <div class="cardsToRenderUndone col-4" *ngFor="let card of cardsToRenderUndone">
      <app-card [tittle]="card.tittle" [content]="card.content" (onCardClicked)="onCardClicked($event)"></app-card>
    </div>
  </div>

  <div class="col-6 test">
    <div class="cardsToRenderUndone col-4" *ngFor="let card of cardsToRenderDone">
      <app-card [tittle]="card.tittle" [content]="card.content" (onCardClicked)="onCardClicked($event)"></app-card>
    </div>
  </div>

</div>
